<template name="console">
    <header>
      <h1>Video Streamer</h1>
        <form class="search-video">
          <input type="text" name="text" placeholder="Type to search videos" />
        </form>
    </header>
    <div class="col-md-12 results">
      {{#if results}}
        <div class="col-md-12">
          <h1>Results</h1>
          <a href="#" class="clear-results pull-right">Clear results</a>
        </div>
        {{#each results}}
          {{> result}}
        {{/each}}
      {{/if}}
    </div>
    <div class="col-md-12">
      <h1>Watchlist</h1>
    <ul>
      {{#each watchlist}}
        {{> list}}
      {{/each}}
    </ul>
  </div>  
</template>

