<template name="result">
  <div class="col-md-3 resultitem">
    <img class="img-responsive" src="{{snippet.thumbnails.high.url}}">
    <span class="text">{{snippet.title}}</span>
    <button rel="{{snippet.title}}" id="{{id.videoId}}" class="btn btn-default add-video">Add to list</button>
  </div>
</template>

