<template name="player">
    <header>
      <h1>Player</h1>
    </header>
    {{#if videoplayer}}
      {{#each videoplayer}}
        {{> video}}
      {{/each}}
    {{/if}}
    
</template>

<template name="video">
time:{{duration}} <br>
startedAt {{startedAt}}

  <div style="position: fixed; z-index: 9999; width: 100%; height: 100%; top:0; left:0;">
    <iframe frameborder="0" height="100%" width="100%" 
      src="https://youtube.com/embed/{{videoId}}?rel=0&autoplay=1&controls=0&showinfo=0&autohide=1">
    </iframe>
  </div>
</template>
